body {
    padding: 15px;
    background-color: #2B292E;
    padding-top: 70px;
    background: url('/images/background.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

#storyline {
    display: flex;
    flex-wrap: wrap;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.silver {
    background-color: silver;
}

.separator {
    width:10px;
}

#card-template {
    display: none;
}

.panel-primary .panel-heading {
    background-color: #333;
    border-color: grey;
}
.panel-primary {
    border-color: grey;
}

.card img {
    width: 100%;
}
